<!DOCTYPE html>
<!--TODO: MAKE THIS PRETTY :)-->
<html>
    <head>
        <style>
            table, th, td {
                border: 1px solid black;
                border-collapse: collapse;
                text-align: left;
                padding: 8px;
                margin-left: auto;
                margin-right: auto;
            }
            tr:nth-child(even) {
                background-color: rgb(162, 162, 237);
            }
        </style>
        <title>Courses Viewer</title>
    </head>
    <body>
        <h1>Course List</h1>
        <table id="table" style="width:70%" >  
            <thead>  
                <tr>
                    <th style="width:2%">Select</th> 
                    <th>CourseID</th> 
                    <th>CourseName</th>
                    <th>Area of Study</th>   
                    <th>Credit Hours</th>
                </tr>  
            </thead>  
            <tbody> 
                <form action="/scheduler" method="POST">
                    <% classes.forEach(function (r) { %>
                    <tr>
                        <td><input type="checkbox" name="class" value="<%=r.areaOfStudy + " " + r.id %>"></td>
                        <td><%= r.department + " " + r.id %></td>
                        <td><%= r.classname %></td>
                        <td><%= r.areaOfStudy %></td>
                        <td><%= r.credithours %></td>
                    </tr>                                  
                    <% }); %>
                    <center><input class="button" type="submit" value="Submit classes!"></center> 
                </form>
             </tbody>
        </table>   
    </body>
</html>